<% if @user.errors.any? %>
  <div class="error-explanation">
    <div class="alert alert-error">
      <p>The form contains <%= pluralize(@user.errors.count, "error")  %>.</p>
    </div>
    <ul>
      <% @user.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>
